
#mainTitle {
    color: white;
    background-color: teal;
    text-align: center;
    font-family: Georgia, serif;
}


h2 {
    font-family: Verdana, sans-serif;
}


body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}
