body{
margin:0;
font-family:Arial;
background:#f4f4f4;
transition:0.4s;
}

header{
background:#222;
color:white;
text-align:center;
padding:40px;
}

.profile{
width:120px;
border-radius:50%;
margin-bottom:10px;
}

nav{
background:#444;
text-align:center;
padding:12px;
}

nav a{
color:white;
margin:15px;
text-decoration:none;
font-weight:bold;
}

section{
padding:40px;
max-width:900px;
margin:auto;
}

h2{
border-bottom:2px solid #ddd;
padding-bottom:10px;
}

.cv-btn{
display:inline-block;
margin-top:10px;
padding:10px 20px;
background:#222;
color:white;
text-decoration:none;
border-radius:5px;
}

.bar{
background:#ddd;
height:10px;
border-radius:5px;
margin-bottom:20px;
}

.html{
width:90%;
height:10px;
background:#333;
}

.css{
width:85%;
height:10px;
background:#333;
}

.js{
width:70%;
height:10px;
background:#333;
}

.sql{
width:75%;
height:10px;
background:#333;
}

.project{
background:white;
padding:20px;
margin-top:15px;
border-radius:8px;
box-shadow:0 0 8px rgba(0,0,0,0.1);
}

button{
padding:10px 20px;
background:#222;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

footer{
text-align:center;
padding:20px;
background:#222;
color:white;
margin-top:40px;
}

.dark{
background:#111;
color:white;
}